#piedepagina{
    width: 100%;
    background-color: #2a2a2a;
    height: 40vh;
    float:left;
    text-align: justify;
    color: #FFFFFF;
    text-decoration: none;
}
#formulario{
    margin-top: 200px;

}