#segundo{
    margin-top: 70px;
}

#boton{
    width: 40vw;
    height: 7vh;
}

#Descripciones{
    margin-left: 10px;
    background-color: #2a2a2a;
    color: #FFFFFF;
    text-decoration: none;
}

h5{
    margin-left: 25px;
}

#margencards{
    margin-left: 80px;
}

h2{
    margin-left: 130px;
}

#bordeimagen{
    text-align:center;
    width: 400px;
    height: 400px;
}

#imagenprueba{
    height: 400px;
    width: 400px;
}
